# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.metadata

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework
ios/Flutter/engine/
ios/Flutter/flutter_export_environment.sh

# Android
android/.gradle/
android/local.properties
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# macOS
.DS_Store

# Generated
*.g.dart
*.freezed.dart
